@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    font-family: Lato;
}

/* Navbar styles */
.navbar {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav img {
    width: 180px;
    height: 60px;
    margin-right: 30px;
}

.navbar .nav {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav li {
    margin-right: 40px;
    font-size: 16px;
}

.navbar .nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #888;
}

.navbar .nav li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #444;
}

.navbar .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .status .price {
    margin-right: 10px;
    color: #bbb;
}

.navbar .status .credits-button {
    padding: 10px 20px;
    background-color: #aaa;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.navbar .status .credits-button:hover {
    background-color: #888;
}

/* content styles */
.content {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 60px;
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content .billing-info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 60px;
}

.content .billing-info .title {
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
}

.content .billing-info .info {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.content .billing-info .edit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.content .billing-info .edit-button:hover {
    background-color: #222;
}

.content .payment-method {
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.content .payment-method .payment-method-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #222;
    background-color: #aaa;
    padding: 10px 0px;
    padding-bottom: 15px;
    border-radius: 18px 18px 0px 0px;
}

.content .payment-method .payment-method-content {
    padding: 10px 20px;
}

.content .payment-method .payment-method-content .payment-form-group {
    padding: 10px 0px;
    font-weight: bold;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .payment-method .payment-method-content .payment-form-group .type-text {
    padding: 8px 20px;
    height: 20px;
    border: none;
    background-color: #ddd;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
}

#img-flags {
    width: 200px;
    height: 25px;
}

#card {
    margin-right: 10px;
}

#card-number {
    width: 200px;
}

#holder {
    width: 256px;
    margin-left: 20px;
}

#expiration-date {
    width: 42px;
}

#cvv {
    width: 120px;
}

/* purchase summary styles */
.purchase-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-summary .summary-card {
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 20px;
}

.content .purchase-summary .summary-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    padding: 10px 0px;
}

.content .purchase-summary .payment-form-group label {
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
    font-size: 16px;
    font-weight: bold;
}

.content .purchase-summary .payment-form-group input {
    padding: 16px 20px;
    height: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    background-color: #fff;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .purchase-summary .total {
    width: 100%;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.content .purchase-summary .pay {
    margin-top: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.content .purchase-summary .pay a {
    text-decoration: none;
    text-align: center;
    color: #888;
}

.content .purchase-summary .pay a:hover {
    text-decoration: underline;
}

.content .purchase-summary .pay a.pay-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .purchase-summary .pay a.pay-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #222;
}

/* Resonance */
@media (max-width: 1000px) {
    .navbar .nav li {
        margin-right: 20px;
    }
}

@media (max-width: 840px) {
    .navbar {
        padding: 10px;
        height: auto;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .nav {
        box-sizing: border-box;
        padding: 20px 0px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .nav li {
        margin-bottom: 10px;
    }
}
